<div id='oils-selfck-user-banner'></div>
<div id='oils-selfck-logo-div'>
    <img class='oils-selfck-logo' name='logo' src='[% ctx.media_prefix 
%]/images/sage_self_check.png'/>
<br/>
Self-Check Station
</div>
<br/>
<div id='oils-selfck-scan-div'>
    <div id='oils-selfck-scan-text'></div>
    <br/>
    <input jsId='selfckScanBox' dojoType='dijit.form.TextBox'/>
    <br/>
    <br/>
</div>
<div id='oils-selfck-status-div'></div>

